{
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb-base",
    "airbnb/hooks"
  ],
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "eqeqeq": "warn",
    "strict": "off",
    "no-undef": "off",
    "no-console": "off",
    "linebreak-style": "off",
    "consistent-return": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
